@use '../../../styles/globals.scss' as v;

.product-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 95vh;
  overflow: hidden;

  .product-page-title {
    padding: 1rem;
    font-size: 2rem;
    color: v.$color-white;
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    flex-shrink: 0;
    background: linear-gradient(to bottom,
        #093d53 0%,
        v.$color2 60%,
        #2c7c90 100%);
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-width: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1.5rem;
  }
}