.cart-count {
  position: relative;
  top: -7px;
  right: -5px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
