@use './media' as media;

$color1: #2b2726;
$color2: #0a516d;
$color3: #018790;
$color4: #7dad93;
$color5: #bacca4;
$color-white: #ffffff;
$color-text: #2b2726;

$border-radius: 12px;
$shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
  background-color: $color4;
}

.page-container {
  padding: 1rem;
  font-size: 1rem;
  background-color: $color4;

  @include media.respond-to(tablet) {
    padding: 2rem;
    font-size: 1.1rem;
  }

  @include media.respond-to(laptop) {
    max-width: 960px;
    margin: 0 auto;
  }

  @include media.respond-to(desktop) {
    max-width: 1200px;
  }
}