@use '../../../styles/globals.scss' as v;

.cart-page {
  padding: 1rem;
  width: 100%;

  .cart-page-title {
    padding: 1rem 0;
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: v.$background-color;
  }

  .payment-options {
    margin-top: 2rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input[type='radio'] {
      margin-right: 0.5rem;
    }
  }
}
