@use '../styles/globals.scss' as v;

.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem 1rem;
    position: sticky;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(to top,
        #093d53 0%,
        v.$color2 60%,
        #2c7c90 100%
      );
}

.menu-item {
    font-size: 1rem;
    color: v.$color5;
    text-decoration: none;

    &.active {
        color: v.$color-white;
        font-weight: bold;
    }
}